.App {
  text-align: center;
  height: 100vh;
  background-color: lightblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
#div1 {
  background-image: url("https://www.soyvisual.org/sites/default/files/styles/facebook_og/public/images/photos/col_0011.jpg?itok=6ItgLGiU");
  background-size: contain;
  height: 6em;
  background-repeat: no-repeat;
  
}
#div2 {
  margin-right: 40px;
  padding-right: 20px;
  font-size: 40px;
}
#parrafo1 {
  color: gray;
} 
.icons {
  margin-right: 250px;
  margin-left: 10px;
  color: lightslategray;
}
#div3 {
  background-image: url("https://www.soyvisual.org/sites/default/files/styles/facebook_og/public/images/photos/col_0011.jpg?itok=6ItgLGiU");
  background-size: contain;
  height: 6em;
  background-repeat: no-repeat;
}
#nav {
  height: 120px;
}
#div6 {
  margin-right: 40px;
  padding-right: 20px;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
}

